<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home - Cantina</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Navbar -->
    <!-- <nav th:replace="navbar :: navbar"></nav> -->

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo à Cantina!</h1>
            <p class="lead">Este é o sistema de gerenciamento da cantina. Utilize o menu para navegar entre as diferentes seções.</p>
            <hr class="my-4">
            <p>Você pode gerenciar produtos, comandas e compras de forma fácil e eficiente.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/images/produtos.jpg" class="card-img-top" alt="Produtos">
                    <div class="card-body">
                        <h5 class="card-title">Produtos</h5>
                        <p class="card-text">Gerencie os produtos disponíveis na cantina.</p>
                        <a href="/produtos" class="btn btn-primary">Ver Produtos</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/images/comandas.jpg" class="card-img-top" alt="Comandas">
                    <div class="card-body">
                        <h5 class="card-title">Comandas</h5>
                        <p class="card-text">Gerencie as comandas dos clientes.</p>
                        <a href="/comandas" class="btn btn-primary">Ver Comandas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="assets/images/compras.jpg" class="card-img-top" alt="Compras">
                    <div class="card-body">
                        <h5 class="card-title">Compras</h5>
                        <p class="card-text">Gerencie as compras realizadas na cantina.</p>
                        <a href="/compras" class="btn btn-primary">Ver Compras</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
